.product-item:hover .product-item-hover {
    opacity: 1;
    transition: 0.6s;
}
.product-item-hover {
    opacity: 0;
    position: absolute;
    height: 300px;
    right: 0;
    left: 0;
    justify-content: center;
    z-index: 100000;
    display: flex;
    transition: 0.6s;
}

.product-item-hover button {
    margin-top: auto;
    margin-right: 10px;
}

#chat2 .form-control {
border-color: transparent;
}

#chat2 .form-control:focus {
border-color: transparent;
box-shadow: inset 0px 0px 0px 1px transparent;
}

.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}

#chat-assist {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 100;
}